html {
    scroll-behavior: smooth;
}

.content {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 3em;
    margin: 10px auto;
    width: 48em;
    box-shadow: 3px 3px 8px 3px rgba(116, 129, 141, 0.2);
}

/*main page*/
.intro-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.intro-section p {
    font-size: 20px;
    line-height: 1.2em;
}

.links {
    display: flex;
    justify-content: flex-start;
}

.links-text {
    margin-top: 8px;
}

.links-text a {
    color: #3884FF;
    padding-right: 15px;
    text-decoration: none;
    font-size: 1.3em;
}

.links-button {
    display: flex;
    flex-direction: row;
}

.links-button a {
    color: black;
    margin-right: 15px;
}

#linkedin {
    margin-left: 20%;
}

.profile-picture {
    margin-left: 2em;
    width: 280px;
    border-radius: 50%;
}


/*Projects Section*/
.projects-section {
    line-height: 1.3em;
    margin-bottom: 5em;
}

.projects-section h2 {
    text-align: center;
    font-weight: normal;
    font-size: 3rem;
    overflow-wrap: break-word;
}

#submarine-img {
    display: flex;
    justify-content: center;
}

#superconductorContainer {
    display: flex;
    justify-content: center;
}

#superconductor {
    border: none;
    width: 400px;
    height: 400px;
}



/*Skills Section*/
.skills-section {
    line-height: 1.3em;
}

.skills-section h2 {
    text-align: center;
    font-weight: normal;
    font-size: 3rem;
}

.skills-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.skillsColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skillsColumn ul {
    list-style-type: none;
    padding-left: 0px;
}




