@font-face {
    font-family: "Roboto";
    src: local("Roboto"), local("Roboto-Regular"), url(https://static.gitbook.com/fonts/fc3d4b35e4d07d4e0485cc2db0e57c77.woff) format('woff');
    font-weight: 400;
    font-display: fallback;
}
@font-face {
    font-family: "Roboto";
    src: local("Roboto Medium"), local("Roboto-Medium"), url(https://static.gitbook.com/fonts/f4fa50c4003f87e7dc10459e500933c3.woff) format('woff');
    font-weight: 500;
    font-display: fallback;
}
@font-face {
    font-family: "Roboto";
    src: local("Roboto Bold"), local("Roboto-Bold"), url(https://static.gitbook.com/fonts/72e37e5bf95a8dba938c78b1d7d91253.woff) format('woff');
    font-weight: 700;
    font-display: fallback;
}
@font-face {
    font-family: "Content-font";
    src: local("Roboto"), local("Roboto-Regular"), url(https://static.gitbook.com/fonts/fc3d4b35e4d07d4e0485cc2db0e57c77.woff) format('woff');
    font-weight: 400;
    font-display: fallback;
}
@font-face {
    font-family: "Content-font";
    src: local("Roboto Medium"), local("Roboto-Medium"), url(https://static.gitbook.com/fonts/f4fa50c4003f87e7dc10459e500933c3.woff) format('woff');
    font-weight: 500;
    font-display: fallback;
}
@font-face {
    font-family: "Content-font";
    src: local("Roboto Bold"), local("Roboto-Bold"), url(https://static.gitbook.com/fonts/72e37e5bf95a8dba938c78b1d7d91253.woff) format('woff');
    font-weight: 700;
    font-display: fallback;
}
body {
  color: #242A31;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 15px;
  background: #F5F7F9;
  font-family: "Roboto", sans-serif;
  line-height: 1em;
  font-smoothing: antialiased;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    color: #242A31;
    width: 100%;
    margin: 0;
    display: flex;
    padding: 0;
    background: #F5F7F9;
    min-height: 100vh;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
