html {
    font-family: 'IBM Plex Sans', 'Arial', sans-serif;
    font-size: 1.2rem;
}

body {
    margin: 0% 10% 10% 10%;
}

/*main page*/
.intro {
    /*background-color: lightblue;*/
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.intro p {
    font-size: 1.3rem;
}

.links a {
    padding-right: 15px;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.profile-picture {
    margin-left: 10%;
    width: 50%;
}

/*skills section*/
.skills h2 {
    font-size: 1.7rem;
    text-align: center;
}




/* Tablet portrait and smaller */
@media only screen
and (max-device-width: 900px) {

    body {
        margin-top: 10%;
    }

    .intro {
        flex-direction: column-reverse;
        justify-content: center;
        height: auto;
    }

    .profile-picture {
        width: 40%;
        margin-bottom: 3rem;
    }

    .intro p {
        text-align: center;
    }

    .links {
        text-align: center;
    }
}