

html {
    font-family: 'IBM Plex Sans', 'Arial', sans-serif;
    font-size: 1.2rem;
}

body {
    margin: 0 10% 20% 10%;
}

.intro {
    /*background-color: lightblue;*/
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.intro-text {
    font-size: 1.25rem;
}

.profile-picture {
    margin-left: 11%;
}


.links {
    padding: 0px;
}

.links a {
    padding-right: 15px;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}
