html {
    font-family: 'IBM Plex Sans', 'Arial', sans-serif;
    font-size: 1.2rem;
    scroll-behavior: smooth;
    /*background-color: skyblue;*/
}

body {
    margin: 0% 10% 10% 10%;
}

/*main page*/
.intro-section {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.intro-section p {
    font-size: 1.3rem;
}

.links a {
    padding-right: 15px;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.profile-picture {
    margin-left: 9%;
    width: 45vh;
    border-radius: 50%;
}


/*Projects Section*/
.projects-section {
    /*height: 50rem;*/
    margin-bottom: 5em;
}

.projects-section h2 {
    font-family: 'IBM Plex Mono', monospace;
    margin: 1% 0 0 0;
    text-align: center;
    font-weight: normal;
    font-size: 3rem;
    overflow-wrap: break-word;
}


/*Skills Section*/
.skills-section {
    margin-bottom: 5em;
}

.skills-section h2 {
    font-family: 'IBM Plex Mono', monospace;
    margin: 0 0 10% 0;
    text-align: center;
    font-weight: normal;
    font-size: 3rem;
}

.skills {
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
    margin-left: 10%;
}



/* Tablet portrait and smaller */
@media only screen
and (max-device-width: 900px) {

body {
    margin-top: 10%;
}

.intro-section {
    flex-direction: column-reverse;
    justify-content: center;
    height: auto;
}

.profile-picture {
    margin: 0px 0px 0px 0px ;
    width: 50%;
    margin-bottom: 3rem;
}

.intro-section p {
    text-align: center;
}

.links {
    text-align: center;
}

.projects-section {
    margin-top: 15%;
    height: 58vh;
}

.skills-section {
    height: 42vh;
}